
.navbar{
	margin-bottom: 0px;
}
.navbar-default {
    background-color: #4caf50;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}


.navbar-right li a{
	font-size:18px;
	color:#ffffff!important;
	font-weight: bold;
}

.navbar-right li a:hover{
	color:#020202!important;
}

.left-sidebar {
	border-right: 2px solid #4caf50;
}
.nav-stacked{
	padding-top:80px;
	padding-bottom:80px;
	margin-right:10px;	
}
.nav-stacked li a{
	font-size:18px;
}
.nav-stacked .active{
	background-color:#4caf50;
	color:#ffffff!important;
}
.nav-stacked .active a{
	color:#ffffff!important;
}
.nav-stacked .active a:hover{
	color:#000000!important;
}